<div class="container" style="min-height:80vh">
  <div class="row justify-content-center align-items-center" style="height:80vh">
    <div class="col-6">
      <form action="/signup" method="post" class="d-flex flex-column text-center shadow-lg px-5 py-5 rounded" novalidate>
        <legend class="mb-5">Account Signup</legend>
        <div class="form-group">
          <input type="text" name="newUser" class="form-control" placeholder="First Name" required>
          <div class="alert">
            <small class="invalid-feedback">This field is required</small>
            <small class="valid-feedback">Good</small>
          </div>
          <input type="text" name="newEmail" class="form-control" placeholder="E-mail" required>
          <div class="alert">
            <small class="invalid-feedback">This field is required</small>
            <small class="valid-feedback">Good</small>
          </div>
          <input type="text" name="newPassword" class="form-control" placeholder="Password" required>
          <div class="alert">
            <small class="invalid-feedback">This field is required</small>
            <small class="valid-feedback">Good</small>
          </div>
          <button type="submit" class="btn btn-danger">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>